<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-sm-6 align-self-center text-center">
            <div class="card shadow" style="background: #fffff;">
                <div class="card-header">
                  <h3>{{title}}</h3>
                </div>
                <div class="card-body">           
                    <p>
                        <label>Nombre</label>
            
                        <input type="text" name="name" class="form-control" required>
                    </p>
            
                    <p>
                        <label>Apellido</label>
            
                        <input type="text" name="surname" class="form-control" required>
                    </p>
            
                    <p>
                        <label>Nick</label>
            
                        <input type="text" name="nick" class="form-control" required>
                    </p>
            
                    <p>
                        <label>Mail</label>
            
                        <input type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    </p>
            
                    <p>
                        <label>Contraseña</label>
            
                        <input type="password" name="password" class="form-control" required>
                    </p>
            
                    <button class="btn btn-success" href="/login">{{title}}</button>
                </div>
            </div>
        </div>
    </div>
</div>