	<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="img/cervArt2.png" width="50" height="40" class="d-inline-block align-top">
          Cervezas artesanales
        </a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
          </form>
    </nav>	