<div class='card'>
						<div class='card-header text-center'>
							<h4>ALGUNAS DE ELLAS ...</h4>
                        </div>
                        
                        <div class="card-body" style="background-color: #faf26c;">
                            <div class="row tarj" >
                                <div class="card m-5" style="width: 18rem;">
                                    <img src="img/c1.1.jpg" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title" style="text-align: left;">Porter</h5>
                                        <p class="card-text">cerveza estilo inglés robusta de fácil tomabilidad. De aroma a café, chocolate, caramelo, levemente ahumado, con notas a madera, gracias a su maduración con chips de roble. Tiene una espuma cremosa de sensación aterciopelada en boca.</p>
                                        <a href="#" class="btn btn-warning">Detalles</a>
                                    </div>
                                </div>
    
                                <div class="card m-5" style="width: 18rem;">
                                    <img src="img/c2.2.jpg" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title" style="text-align: left;">Weisse</h5>
                                        <p class="card-text">Una cerveza tipo Belgian Witbier, estilo elaborado con trigo, que le da una cremosidad característica. Tiene aroma a cáscara de naranja y coriandro. De una complejidad en aromas, que resulta fácil de tomar por su refrescancia, bajo amargor y cuerpo liviano.</p>
                                        <a href="#" class="btn btn-warning">Detalles</a>
                                    </div>
                                </div>
    
                                <div class="card m-5" style="width: 18rem;">
                                    <img src="img/c1.1.jpg" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title" style="text-align: left;">Amber-Lager</h5>
                                        <p class="card-text">Cerveza de un suave sabor a caramelo, elaborada con una combinación del más puro lúpulo patagónico y una variedad de 4 maltas especiales, que le dan un carácter maltoso y un color ámbar característico. Sabor maltoso, caramelo leve tostado.</p>
                                        <a href="#" class="btn btn-warning">Detalles</a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <table class="table mt-5" cellspacing="0" width="100%">
                                    <thead style="border: grey 1px solid;">
                                        <tr style="text-align: center;">
                                            <th colspan="1">CERVEZA</th>
                                            <th colspan="2">DATOS</th>
                                        </tr>
                                        <tr>
                                            <th>ESTILO</th>
                                            <th>IBU'S</th>
                                            <th>ALCOHOL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>BELLE EPOQUE</td>
                                            <td>33</td>
                                            <td>6%</td>
                                        </tr>
                                        <tr>
                                            <td>APA</td>
                                            <td>29</td>
                                            <td>6%</td>
                                        </tr>
                                        <tr>
                                            <td>HONNEY</td>
                                            <td>12</td>
                                            <td>4,8%</td>
                                        </tr>
                                        <tr>
                                            <td>Z. APA</td>
                                            <td>30</td>
                                            <td>5,8%</td>
                                        </tr>
                                        <tr>
                                            <td>OLD ALE</td>
                                            <td>19</td>
                                            <td>7,5%</td>
                                        </tr>
                                        <tr>
                                            <td>HONNEY</td>
                                            <td>25</td>
                                            <td>5,2%</td>
                                        </tr>
                                        <tr>
                                            <td>FRUIT RED</td>
                                            <td>18</td>
                                            <td>4,8%</td>
                                        </tr>
                                        <tr>
                                            <td>NITRO STOUT</td>
                                            <td>38</td>
                                            <td>7%</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <!-- <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr> -->
                                    </tfoot>
                                </table>
                            </div>

                            <div class="col-lg-12" style="margin-left: auto;margin-right:auto;">
                                <form id="susc">

                                    <div class="card" style="background-color: #272727;">
                                        <div class='card-header text-center' style="color: #707070;">
                                            <h4>Suscripciones</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Nombre</label>
                                                        <input type="text" id="nombre" class="form-control">
                                                    </div>

                                                    <div class="col-md-4">
                                                        <label>Apellido</label>
                                                        <input type="text" id="apellido" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Ciudad</label>
                                                        <select name="ciudad" class="form-control">
                                                            <option></option> 
                                                            <option value="1">Villa maría</option>
                                                            <option value="2">Río cuarto</option>
                                                            <option value="3">Villa nueva</option>
                                                            <option value="4">Río tercero</option>
                                                            <option value="5">Tio pujio</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" id="notif">
                                                            <label class="form-check-label" for="notif">Recibir notificaciones</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-check">
                                                            <input type="radio" class="form-radio-input" id="notif">
                                                            <label class="form-radio-label" for="notif">Recibir notificaciones</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Comentario</label>
                                                        <textarea class="form-control" rows="4" id="comentario"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-between align-items-center">
                                                <button id="dlt_susc" type="button" class="btn btn-warning">CANCELAR</button>
                                                <button id="ins_susc" type="Submit" class="btn btn-warning">REGISTRAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
					</div>